/* reset rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  color: currentColor;
  list-style: none;
}

.header {
  background-color: beige;
  padding: 20px 15px;
}

.task-inprogress,
.task-completed {
  padding: 20px;
}

.task-inprogress ul {
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(204, 199, 199);
}

ul>* {
  margin-bottom: 15px;
}

li>p:first-child {
  font-weight: bold;
}

.tag-inprogress {
  background-color: rgb(181, 245, 33);
  color: white;
  margin-left: 15px;
  padding: 7px 10px;
}

.tag-backlog {
  background-color: rgb(33, 132, 245);
  color: white;
  margin-left: 15px;
  padding: 7px 10px;
}

.tag-completed {
  background-color: green;
  color: white;
  margin-left: 15px;
  padding: 7px 10px;
}